@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "nohemi";
  src: url(fonts/nohemi/Nohemi-ExtraBold.woff) format("woff");
  font-weight: 800 900;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Thin";
  src: url("../assets/fonts/switzer/Switzer-Thin.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Thin.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-ThinItalic";
  src: url("../assets/fonts/switzer/Switzer-ThinItalic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-ThinItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Extralight";
  src: url("../assets/fonts/switzer/Switzer-Extralight.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Extralight.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-ExtralightItalic";
  src: url("../assets/fonts/switzer/Switzer-ExtralightItalic.woff2")
      format("woff2"),
    url("../assets/fonts/switzer/Switzer-ExtralightItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-ExtralightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Light";
  src: url("../assets/fonts/switzer/Switzer-Light.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Light.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-LightItalic";
  src: url("../assets/fonts/switzer/Switzer-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-LightItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Regular";
  src: url("../assets/fonts/switzer/Switzer-Regular.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Regular.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-Italic";
  src: url("../assets/fonts/switzer/Switzer-Italic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Italic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Medium";
  src: url("../assets/fonts/switzer/Switzer-Medium.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Medium.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-MediumItalic";
  src: url("../assets/fonts/switzer/Switzer-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-MediumItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Semibold";
  src: url("../assets/fonts/switzer/Switzer-Semibold.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Semibold.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-SemiboldItalic";
  src: url("../assets/fonts/switzer/Switzer-SemiboldItalic.woff2")
      format("woff2"),
    url("../assets/fonts/switzer/Switzer-SemiboldItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Bold";
  src: url("../assets/fonts/switzer/Switzer-Bold.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Bold.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-BoldItalic";
  src: url("../assets/fonts/switzer/Switzer-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-BoldItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Extrabold";
  src: url("../assets/fonts/switzer/Switzer-Extrabold.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Extrabold.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-ExtraboldItalic";
  src: url("../assets/fonts/switzer/Switzer-ExtraboldItalic.woff2")
      format("woff2"),
    url("../assets/fonts/switzer/Switzer-ExtraboldItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-ExtraboldItalic.ttf")
      format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Black";
  src: url("../assets/fonts/switzer/Switzer-Black.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Black.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-BlackItalic";
  src: url("../assets/fonts/switzer/Switzer-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-BlackItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Switzer-Variable";
  src: url("../assets/fonts/switzer/Switzer-Variable.woff2") format("woff2"),
    url("../assets/fonts/switzer/Switzer-Variable.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-VariableItalic";
  src: url("../assets/fonts/switzer/Switzer-VariableItalic.woff2")
      format("woff2"),
    url("../assets/fonts/switzer/Switzer-VariableItalic.woff") format("woff"),
    url("../assets/fonts/switzer/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --color-primary-200: #e0e6eb;
  --color-primary-500: #3a6ea5;
  --color-primary-600: #2a6e85;
  --color-primary-800: #172d44;

  --font-header: "nohemi";
  --font-dashboard: "Switzer-Variable";
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-7 h-7 rounded-full bg-primary-800 top-2;
}
